<?php

/*
 * This file is part of the YesWiki Extension customsendmail.
 *
 * Authors : see README.md file that was distributed with this source code.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

use YesWiki\Core\Service\AssetsManager;

if (isset($data) &&
    isset($data['action_groups']) &&
    isset($data['action_groups']['bazarliste'])){
    if (isset($data['action_groups']['bazarliste']['actions']) &&
        !isset($data['action_groups']['bazarliste']['actions']['bazarcustomsendmail'])){
        $data['action_groups']['bazarliste']['actions']['bazarcustomsendmail'] = [
            'label' => _t('CUSTOMSENDMAIL_SENDMAIL_LABEL'),
            'description' => _t('CUSTOMSENDMAIL_SENDMAIL_DESCRIPTION'),
            'width' => '35%',
            'properties' => [
                'template' => [
                    'value' => 'send-mail.tpl.html',
                ],
                'title' => [
                    'label' => _t('CUSTOMSENDMAIL_SENDMAIL_TITLE_LABEL'),
                    'hint' => _t('CUSTOMSENDMAIL_SENDMAIL_TITLE_EMPTY_LABEL',['emptyVal' => _t('CUSTOMSENDMAIL_DEFAULT_TITLE')]),
                    'type' => 'text',
                    'default' => _t('CUSTOMSENDMAIL_DEFAULT_TITLE'),
                ],
                'defaultsendername' => [
                    'label' => _t('CUSTOMSENDMAIL_SENDMAIL_DEFAULT_SENDERNAME_LABEL'),
                    'type' => 'text',
                    'default' => _t('CUSTOMSENDMAIL_SENDERNAME'),
                ],
                'defaultsubject' => [
                    'label' => _t('CUSTOMSENDMAIL_SENDMAIL_DEFAULT_SUBJECT_LABEL'),
                    'type' => 'text',
                    'default' => '',
                ],
                'emailfieldname' => [
                    'label' => _t('CUSTOMSENDMAIL_SENDMAIL_EMAILFIELDNAME_LABEL'),
                    'type' => 'form-field',
                    'default' => 'bf_mail',
                ],
                'defaultcontent' => [
                    'label' => _t('CUSTOMSENDMAIL_SENDMAIL_DEFAULTCONTENT_LABEL'),
                    'type' => 'text',
                    'default' => _t('CUSTOMSENDMAIL_SENDMAIL_DEFAULTCONTENT'),
                ],
            ],
        ];
    }
    if (isset($data['action_groups']['bazarliste']['actions']) &&
        isset($data['action_groups']['bazarliste']['actions']['commons']) &&
        isset($data['action_groups']['bazarliste']['actions']['commons']['properties']) &&
        isset($data['action_groups']['bazarliste']['actions']['commons']['properties']['showexportbuttons']) &&
        isset($data['action_groups']['bazarliste']['actions']['commons']['properties']['showexportbuttons']['showExceptFor']) &&
        !in_array('bazarcustomsendmail',$data['action_groups']['bazarliste']['actions']['commons']['properties']['showexportbuttons']['showExceptFor'])){
            $data['action_groups']['bazarliste']['actions']['commons']['properties']['showexportbuttons']['showExceptFor'][] =  'bazarcustomsendmail';
    }
    if (isset($data['action_groups']['bazarliste']['actions']) &&
        isset($data['action_groups']['bazarliste']['actions']['commons']) &&
        isset($data['action_groups']['bazarliste']['actions']['commons']['properties'])){
        $data['action_groups']['bazarliste']['actions']['commons']['properties']['keepentrieswhereadminforparent'] = [
            'label' => _t('CUSTOMSENDMAIL_SENDMAIL_KEEPENTRIESWHEREADMINFORPARENT_LABEL'),
            'type' => 'checkbox',
            'default' => 'false',
            'advanced' => true,
        ];
    }
}

$paths = $this->twigLoader->getPaths("aceditor");

// render next following custom actions-builder.tpl.html
$curDir = dirname($templatePath);
if (substr($curDir,0,1) == "/"){
    $curDir = substr($curDir,1);
}
$curPos = array_search($curDir,$paths);
if ($curPos !== false) {
    for ($i=($curPos+1); $i < count($paths); $i++) { 
        if ($this->hasTemplate("{$paths[$i]}/actions-builder.tpl.html")){
            echo $this->render("{$paths[$i]}/actions-builder.tpl.html",compact(['data']));
            break;
        }
    }
}