<?php

/*
 * This file is part of the YesWiki Extension customsendmail.
 *
 * Authors : see README.md file that was distributed with this source code.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

// put 'customSendMailService' in params to use it into twig
use YesWiki\Customsendmail\Service\CustomSendMailService ;
$param['customSendMailService'] = $this->wiki->services->get(CustomSendMailService::class);
echo $this->render('@bazar/tableau.tpl.html', compact([
    'fiches',
    'info_res',
    'param',
    'pager_links',
    'filters'
]));
